:root {
  --enabled-text: #000;
  --disabled-text: #808080;
  --backgroundWhite: #fff;
  --backgroundSidebarGrey: #f1f1f1;
  --backgroundSidebarHoverGrey: #e2e2e2;
  --backgroundSidebarActiveGrey: #dddddd;
  --accentColor: #083985;
  --accentColorFaided: #083a853d;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-style: normal;
  min-height: 100vh;
}


.header {
  background-color: var(--accentColor);
  color: #fff;
  padding: 20px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hat {
  flex: 1;
  text-align: left;
  margin: 0;
  text-decoration: none;
  color: inherit;
  margin-right: 20px;
  h2 {
    margin-right: 20px;
  }
}

#headerspacer {
  width: 35%;
}

button {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.header .login {
  margin-left: auto;
}

button,
input[type="text"],
input[type="date"],
input[type="password"] {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
}

#createAccountForm {
  display: flex;
  flex-direction: column;
  align-items: center
}

.center-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px); 
  padding: 20px;
  box-sizing: border-box;
}

.center-card {
  min-width: 600px;
  max-width: 800px;
  border-radius: 1rem;
  padding: 2.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  background-color: #fff;
  text-align: center;
}

.center-card .form-control,
.center-card .form-select {
  width: 100%;
  padding: 0.8rem 1rem;
  font-size: 1rem;
}
.footer {
  background-color: var(--accentColor);
  color: #fff;
  padding: 20px;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  margin-bottom: 10px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

.footer-right a:hover {
  color: var(--backgroundWhite);
}

@media(min-width: 768px){
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left {
    margin-bottom: 0;
  }
}




