/* ===================== VARIABLES ===================== */
:root {
  --accentColor: #083985;
  --backgroundWhite: #fff;
}

/* ===================== BODY ===================== */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

/* ===================== HEADER ===================== */
.header {
  background-color: var(--accentColor);
  color: #fff;
  padding: 20px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hat {
  flex: 1;
  text-align: left;
  text-decoration: none;
  color: inherit;
}

#headerspacer {
  width: 35%;
}

/* ===================== BUTTON & INPUTS ===================== */
button,
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
select {
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px;
  font-size: 1rem;
}

/* ===================== CENTERED CARD ===================== */
.center-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 72px); /* full viewport minus header */
  padding: 20px;
  box-sizing: border-box;
}

.center-card {
  width: 100%;
  max-width: 800px;
  border-radius: 1rem;
  padding: 2.5rem;
  background-color: var(--backgroundWhite);
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.15);
  text-align: center;
}

.center-card .form-control,
.center-card .form-select {
  width: 100%;
  padding: 0.8rem 1rem;
}

/* ===================== FOOTER ===================== */
.footer {
  background-color: var(--accentColor);
  color: #fff;
  padding: 20px;
  font-size: 0.9rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  margin-bottom: 10px;
}

.footer-right a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
  transition: 0.3s;
}

.footer-right a:hover {
  color: var(--backgroundWhite);
}

/* ===================== Eye icon ===================== */

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 2.5rem; 
}

.password-container .password-eye {
  position: absolute;
  top: 50%;
  right: 1.8rem;       
  transform: translateY(-50%);
  cursor: pointer;
  color: #6c757d;
  z-index: 5;
}

/* ===================== Forum ===========================*/

.card-forum{
  width: 18rem;
  display:inline-block;
}

/* ===================== RESPONSIVE ===================== */
@media(min-width: 768px){
  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .footer-left {
    margin-bottom: 0;
  }
}
